listing-img-a href,listing-img-a-imgwrap src,listing-info,listing-location,lst-sizes,bed,bath,price,agent-phone-number 2,agent-name,listing-recency
https://www.propertyguru.com.sg/listing/hdb-for-sale-671c-jurong-west-street-65-21402133?ref=ls%7Ctl3%7C1%7C1,https://sg2-cdn.pgimgs.com/listing/21402133/UPHO.100066607.C200X150/671C-Jurong-West-Street-65-Boon-Lay-Jurong-Tuas-Singapore.jpg,671C Jurong West Street 65,671C Jurong West Street 65,1356 sqft  S$ 383.48 psf,3,2,"520,000",+65 9824 8504,Eric Chey,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-461-jurong-west-street-41-21642150?ref=ls%7Ctl3%7C2%7C1,https://sg2-cdn.pgimgs.com/listing/21642150/UPHO.104494015.C200X150/461-Jurong-West-Street-41-Boon-Lay-Jurong-Tuas-Singapore.jpg,461 Jurong West Street 41,461 Jurong West Street 41,1302 sqft  S$ 349.46 psf,3,2,"455,000",+65 9824 8504,Eric Chey,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-588a-ang-mo-kio-street-52-21618890?ref=ls%7Ctl3%7C3%7C1,https://sg2-cdn.pgimgs.com/listing/21618890/UPHO.103793891.C200X150/588A-Ang-Mo-Kio-Street-52-Ang-Mo-Kio-Bishan-Thomson-Singapore.jpg,588A Ang Mo Kio Street 52,588A Ang Mo Kio Street 52,1206 sqft  S$ 746.27 psf,4,2,"900,000",+65 9824 8504,Eric Chey,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-180-bedok-north-road-21559734?ref=ls%7Ctl3%7C4%7C1,https://sg2-cdn.pgimgs.com/listing/21559734/UPHO.102372751.C200X150/180-Bedok-North-Road-Bedok-Upper-East-Coast-Singapore.jpg,180 Bedok North Road,180 Bedok North Road,990 sqft  S$ 494.95 psf,3,2,"490,000",+65 9824 8504,Eric Chey,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-782d-woodlands-crescent-21472748?ref=ls%7Ctl3%7C5%7C1,https://sg2-cdn.pgimgs.com/listing/21472748/UPHO.100854081.C200X150/782D-Woodlands-Crescent-Admiralty-Woodlands-Singapore.jpg,782D Woodlands Crescent,782D Woodlands Crescent,1206 sqft  S$ 412.94 psf,3,2,"498,000",+65 9797 1756,Louis Kwek,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-8-holland-avenue-21635566?ref=ls%7Ctl3%7C6%7C1,,8 Holland Avenue,8 Holland Avenue,883 sqft  S$ 651.19 psf,3,1,"575,000",+65 8388 9289,Henry Lim,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-298b-compassvale-street-21487657?ref=ls%7Ctl3%7C7%7C1,,298B Compassvale Street,298B Compassvale Street,1227 sqft  S$ 356.97 psf,3,2,"438,000",+65 8818 0506,Jason Tan (???),3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-9-pine-close-21572703?ref=ls%7Ctl3%7C8%7C1,,9 Pine Close,9 Pine Close,1098 sqft  S$ 591.99 psf,3,2,"650,000",+65 8668 8550,Benjamin Poh Jing Jie 傅敬杰,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-121-rivervale-drive-21530468?ref=ls%7Ctl3%7C9%7C1,,121 Rivervale Drive,121 Rivervale Drive,1184 sqft  S$ 353.04 psf,3,2,"418,000",+65 9626 5500,Rainbow Fan,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-907-tampines-avenue-4-21555815?ref=ls%7Ctl3%7C10%7C1,,907 Tampines Avenue 4,907 Tampines Avenue 4,1130 sqft  S$ 441.59 psf,3,2,"499,000",+65 9626 5500,Rainbow Fan,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-732-tampines-street-71-21614986?ref=ls%7Ctl3%7C11%7C1,,732 Tampines Street 71,732 Tampines Street 71,1119 sqft  S$ 402.14 psf,3,2,"450,000",+65 9626 5500,Rainbow Fan,3 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-645-jurong-west-street-61-21656921?ref=ls%7Ctl3%7C12%7C1,,645 Jurong West Street 61,645 Jurong West Street 61,1087 sqft  S$ 340.39 psf,3,2,"370,000",+65 9697 7329,Corina Tham,4 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-363-woodlands-avenue-5-21590552?ref=ls%7Ctl3%7C13%7C1,,363 Woodlands Avenue 5,363 Woodlands Avenue 5,1130 sqft  S$ 387.61 psf,3,2,"438,000",+65 8479 7777,Poh Hock Leong (傅福良）,6 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-129-marsiling-rise-21590545?ref=ls%7Ctl3%7C14%7C1,,129 Marsiling Rise,129 Marsiling Rise,1485 sqft  S$ 303.03 psf,4,2,"450,000",+65 8479 7777,Poh Hock Leong (傅福良）,6 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-516-woodlands-drive-14-21590516?ref=ls%7Ctl3%7C15%7C1,,516 Woodlands Drive 14,516 Woodlands Drive 14,1151 sqft  S$ 346.66 psf,3,2,"399,000",+65 8479 7777,Poh Hock Leong (傅福良）,6 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-26-marsiling-drive-21464540?ref=ls%7Ctl3%7C16%7C1,,26 Marsiling Drive,26 Marsiling Drive,979 sqft  S$ 270.68 psf,3,2,"265,000",+65 8479 7777,Poh Hock Leong (傅福良）,6 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-727-woodlands-circle-20849100?ref=ls%7Ctl3%7C17%7C1,,727 Woodlands Circle,727 Woodlands Circle,1098 sqft  S$ 318.76 psf,3,2,"350,000",+65 8479 7777,Poh Hock Leong (傅福良）,6 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-688a-woodlands-drive-75-20848234?ref=ls%7Ctl3%7C18%7C1,,688A Woodlands Drive 75,688A Woodlands Drive 75,904 sqft  S$ 365.04 psf,3,2,"330,000",+65 8479 7777,Poh Hock Leong (傅福良）,6 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-895c-woodlands-drive-50-21622369?ref=ls%7Ctl3%7C19%7C1,,895C Woodlands Drive 50,895C Woodlands Drive 50,1259 sqft  S$ 332.01 psf,3,2,"418,000",+65 8479 7777,Poh Hock Leong (傅福良）,6 minutes
https://www.propertyguru.com.sg/listing/hdb-for-sale-622-ang-mo-kio-avenue-9-21609546?ref=ls%7Ctl3%7C20%7C1,,622 Ang Mo Kio Avenue 9,622 Ang Mo Kio Avenue 9,1302 sqft  S$ 459.29 psf,3,2,"598,000",+65 8479 7777,Poh Hock Leong (傅福良）,6 minutes
